.liste_cartes{
    color: #fcf3e2;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: calc(100vh - 90px);
    animation: apparition 0.5s ease  forwards;

}


@keyframes apparition {
    from{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}

.disparition{
    animation: disparition 0.5s ease forwards;
}

@keyframes disparition {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}

.carte{
    cursor: pointer;
    margin: 5px 10px;
    color: rgb(0, 0, 0);
    background: rgb(125,125,125);
    background: linear-gradient(-10deg, rgba(255, 255, 255, 0.547) 0%, rgba(255, 250, 240,1) 100%);
    border-radius: 10px;
    transition: 0.5s ease;
    text-align: center;
    font-family: "Roboto";
<<<<<<< HEAD
    font-size: 1.8vh;
    height: 55px;
=======
    height: 60px;
>>>>>>> 54fb16de9a9fdfe337c2d626cdef4cd96c76933c
    flex-grow: 0;
}

.titre_carte{
    display: flex;
    align-content: center;
}

.titre_carte h3{
    flex-grow: 1;
    font-family: "Tourney";
}

.titre_carte i{
    margin: auto;
    font-size: 30px;
    padding-left: 20px;
    
    z-index: 2;
}

.contenu_carte{
    display: none;
    height: calc(100vh - 380px);
    margin: 0 5% 0 5%;
    justify-content: space-evenly;
    flex-direction: column;
    text-justify:inter-word;
    text-align:left;
    opacity: 0;
} 

.contenu_carte i{
    text-align: center;
    font-size: 5vh;
}

.contenu_carte h4{
    text-align: center;
    color: black;
    margin-top: 0;
}

.activeCarte{
    flex-grow: 2;
}

.activeContenu{
    display: flex;
    opacity: 0;
    animation: apparition_contenue_carte 0.5s linear 0.5s forwards;
}

@keyframes apparition_contenue_carte {
    to{
        opacity: 100%;
    }
}

/* carte presentation------------ */

.C1.background {
    background: linear-gradient(-10deg, rgba(255, 255, 255, 0.5) 0%, rgba(255,255,255,1) 90%), url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/893d6a152109661.6318375f0f71c.jpg);
    background-position:  40%;
}

.C1 a {
    color: black;
}


.contact_carte,.lien_carte{
    text-align: center;
    list-style: none;
    padding: 0;
}

.contact_carte a{
    font-weight: 900;
    font-family: "Tourney";
    font-size: 2.5vh;
}

.contact_carte a:hover{
    color: rgba(0, 0, 0, 0.604);
}

.lien_carte{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.lien_carte a:hover{
    color: rgba(0, 0, 0, 0.604);
}

/* ------------carte presentation */

/* carte experience-------------- */

.C2.background {
    background: linear-gradient(-10deg, rgba(255, 255, 255, 0.5) 0%, rgba(255,255,255,1) 90%), url(../images/IMG_0768.jpeg);
    background-position: 50%;
}

.C2 ul{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* --------------carte experience */

/* carte logiciel---------------- */

.C3.background {
    background: linear-gradient(-10deg, rgba(255, 255, 255, 0.5) 0%, rgba(255,255,255,1) 90%), url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/3f0b08152450191.631eda6d6a397.jpg);
    background-position:  50%, 50%;
}

.ligne_logo{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.ligne_logo img{
    margin-bottom: 2vh;
    height: 6vh;
}


/* ----------------carte logiciel */

/* carte diplomes---------------- */

.C4.background {
    background: linear-gradient(-10deg, rgba(255, 255, 255, 0.5) 0%, rgba(255,255,255,1) 90%), url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/70c923152276535.631b0623d30fa.jpg);
    background-position: 50%;
}

.C4 ul{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* ----------------carte diplomes */