/* https://mir-s3-cdn-cf.behance.net/project_modules/fs/9dba8f152033959.6317090b18e2d.jpg  blueReverse*/
/* https://mir-s3-cdn-cf.behance.net/project_modules/fs/984b60152027075.6316ee896d072.jpg  blue */


@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200;900&display=swap');


body{
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
}


#acceuil {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/984b60152027075.6316ee896d072.jpg');
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position-x: 42%;
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 0;
    
}

#acceuil div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/9dba8f152033959.6317090b18e2d.jpg');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-position-x: 42%;
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Tourney';
    font-size: 25px;
    opacity: 0%;
    animation: apparition 2.5s ease 4s forwards ;
}

#acceuil h1,h2{
    margin: 0;
    font-size: 100px;
}

@keyframes apparition {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

#prenom{
    font-weight: 200;
}

#nom{
    font-weight: 900;
}

#entrer{
    transition: 0.2s;
}
#entrer:hover{
    text-shadow: #ff5a12 0 0 5px;
    color: #fcf3e2;
}



#acceuil ul{
    opacity: 0%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    color: #fcf3e2;
    list-style: none;
    font-size: 30px;
    width: 200px;
    animation: apparition 3s ease 5s forwards ;
}

#acceuil li:hover{
    text-shadow: #ff5a12 0 0 5px;
    

}

@keyframes apparition {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
#masqueL {
position: fixed;
height: 100%;
left: 0;
background: linear-gradient(90deg, rgba(0,8,91,1) 0%, rgba(0,51,153,1) 48%, rgba(0, 82, 196) 100%);
z-index: 10;
}

#masqueR{
    position: fixed;
height: 100%;
right: 0;
background: linear-gradient(270deg, rgba(0,8,91,1) 0%, rgba(0,51,153,1) 48%, rgb(0, 82, 196) 100%);
z-index: 5;
}

.acceuilApparition{
    animation: apparition 3s ease 1s forwards ;
}


.animationEnterSlide{
    animation: enterB 2s  ease-in  forwards;
}

.animationEnter{
    animation: enterA 2s ease forwards;
}


@keyframes enterB{
    from{
        width: 0;
    }
    50%{
        width: 50%;
        opacity: 100%;
    }
    
    to{
        opacity: 0%;
    }

}

@keyframes enterA {
    from{
        opacity: 100%;
        filter: blur(0);
    }
    50%{
        opacity:100%;
        filter: blur(3px);
    }

    to{
        opacity: -60%;
    }
}