

@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@200;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  background: #030712; 
  flex-direction: column;
  font-family: "Tourney";
  transition: 1s;
  animation: changement_background 2s ease forwards;

  max-width: 900px ;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}




/* navigateur/header============================================================================= */

/* header----------------------------------------- */
nav{
    position: sticky;
    top: 0;
    background: #030712;
    color: #ffff;
    display: flex;
    padding: 20px 30px;
    z-index: 10;
}

.navConteneur{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0;
    font-size: 30px;
    opacity: 0;
    animation: apparition_nav 0.7s ease-out forwards;
}

@keyframes apparition_nav {
    from{
        opacity: 0;
        top: -90px;
    }
    to{
        opacity: 100%;
        top: 0;
    }
}

/* -----------------------------------------header */

/* nav/menu--------------------------------------- */

#menuLogo{
    cursor: pointer;
    content: \000A9;
    margin: 0px;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#navTitre{
    margin: 0px;
    padding: 0;
}

#menuLogo div{

    height: 0px;
    border-radius: 1px;
    border: solid 2px #fcf3e2;
    transition: 0.2s;
}

.line#haut{
    position: relative;
    rotate: 45deg;
    top: 10px;
}

.line#centre{
    opacity: 0;
}

.line#bas{
    position: relative;
    rotate: -45deg;
    top: -10px;
}


#menu{
    background: #030712;
    position: sticky;
    z-index: 10;
    top: 90px;
    height: calc(100vh - 90px);
    width: 100%;
    display: none; /*   flex dans liste_cartes.js - ligne: 14 */
    flex-direction: column;
    justify-content: space-between;
    color: #fcf3e2;
    opacity: 0;
    transition: 1s;
    animation: 0.2s ease forwards;

    max-width: 900px;
}

@keyframes apparition_menu {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}

@keyframes disparition_menu {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0;
    }
}


.nav_item{
    padding: 0 5vw;
    color: #fcf3e2;
    height: 78px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    opacity: 0;
}

.fa-arrow-right{
    font-size: 30px;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vmax;
}

#contact .fa-code{
    padding: 30px;
    font-size: 30px;
    color: #ff5a12;
}

.contact_nav{
    font-family: "Roboto";
    font-size: 20px;
    margin: 5px;
    color: #fcf3e2;
}

a {
    text-decoration: none;
    color: #fcf3e2;
}


#menu ul {
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    color: #fcf3e2;
    list-style: none;
    font-size: 30px;
    width: 200px;
    position: relative;
    opacity: 0;
    animation: apparition_logo 0.2s ease 1s forwards;
}

@keyframes apparition_logo {
    from{
        opacity: 0;
        bottom: -3%;
    }
    to{
        bottom: 0;
        opacity: 100%;
    }
}

.lineMenu{
    border: 1px solid #fcf3e2;
    height: 0;
    margin: 0;
    position: relative;
    opacity: 0;
}

/* apparition des LIGNES du menu --- */

.L1{
    animation: apparition_ligne 1s ease  forwards ;
}
.L2{
    animation: apparition_ligne 1s ease 0.1s forwards;
}
.L3{
    animation: apparition_ligne 1s ease 0.2s forwards ;
}
.L4{
    animation: apparition_ligne 1s ease 0.3s forwards;
}
.L5{
    animation: apparition_ligne 1s ease 0.4s forwards;
}

@keyframes apparition_ligne {
    from{
        opacity: 0;
        left: -100vw;
    }
    to{
        left: 0;
        opacity: 100%;
    }
    
}

/* --- apparition des LIGNES du menu */

/* apparition des SECTIONS du menu --- */

.S1{
    animation: apparition_section_menu 1s ease 1s forwards ;
}
.S2{
    animation: apparition_section_menu 1s ease 1.1s forwards;
}
.S3{
    animation: apparition_section_menu 1s ease 1.2s forwards ;
}
.S4{
    animation: apparition_section_menu 1s ease 1.3s forwards;
}
.S5{
    animation: apparition_section_menu 1s ease 1.4s forwards;
}

@keyframes apparition_section_menu {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
    
}
/* --- apparition des SECTIONS du menu */

/* ---------------------------------------nav/menu */

/* =============================================================================navigateur/header */

/* Section======================================================================================= */

.section {
    margin: 5px 10px;
    color: rgb(0, 0, 0);
    background: rgb(125,125,125);
    background: linear-gradient(-10deg, rgba(255, 255, 255, 0.826) 0%, rgba(255, 250, 240,1) 100%);
    border-radius: 10px;
    transition: 0.5s ease;
    font-family: "Roboto";
    display: none;
    flex-direction: column;
    opacity: 0;
    animation: apparitio_section 2s ease forwards;
    font-size: 1.8vh;
    max-width: 900px ;
}

.section .titre_carte{
    text-align: center;
}

.retour_presentation{
    cursor: pointer;
    display: none;
    position: sticky ;
    height: 0;
    justify-content: end;
    top: 100px;
    font-size: 50px;
    z-index: 10;
    padding-right: 30px;
    max-width: 900px;
}

#Mon_experience a{
    color: black;
    text-decoration:underline;
}

#Mon_experience a img {
    width: 80%;
    border-radius: 10px;
}

#logiciels .ligne_logo {
    flex-wrap: wrap;
}

#logiciels h3{
    text-align: center;
}

@keyframes apparitio_section {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}

.ligne_section{
    margin: 0;
    padding: 0 3vw 20px 3vw  ;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(252,252,252,0) 0%, rgba(3, 7, 18, 0.045) 100%);
}




/* =======================================================================================Section */


/* Galerie carousel============================================================================== */

body{
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.galerie { 
  display: flex;
  background: #030712; 
  width: 100%;
  max-width: 900px;
  border-radius:20px;
  margin: 0;
  padding: 0;
  justify-content: center;
  transition: 0.1s;
}

.galerie .wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.galerie .slider{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: 0.2s;
}

.image_galerie{
    width: calc(94vw - 55px);
    max-width: calc( 860px - 6vw) ;
    border-radius: 15px;
}

.galerie .slides{
    list-style: none;
    margin: 10px;
}

.logo_youtube{
    position: absolute;
    width: 100%;
    top: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.galerie .fa-youtube{
    color: rgba(255, 255, 255, 0.72);
    font-size: 12vw;
    z-index: 15;
    right: 5px;
    height: 100%;

    transition: 0.6s;
}

.galerie .fa-youtube:hover{
    color: #c4302b;
    cursor: pointer;
}

.button_galerie{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    top: -2%;
    margin: auto;
    font-size: 50px;
    color: #ffffffde;

}

.button_galerie p {
    font-size: 1.8vh;
}

.button_galerie .fa-chevron{
    position: absolute;
    z-index: 10;
}

 .fa-chevron-left:hover{
    color: #888; 
    cursor: pointer;
}
.fa-chevron-right:hover{
    color: #888; 
    cursor: pointer;
}


.player_video{
    position: sticky;
    top: 0;

    z-index: 20;
    background-color: #030712;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 40px;
}

.player_video i:hover{
        color: #888; 
    cursor: pointer;
}
  

/* ==============================================================================Galerie carousel */
