.liste_cartes{
    color: #fcf3e2;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: calc(100vh - 90px);
    opacity: 0;
    animation: apparition_cartes 2s ease 2s forwards;
}

@keyframes apparition_cartes {
    to{
        opacity: 100%;
    }
}

.carte{
    cursor: pointer;
    margin: 10px 50px;
    color: rgb(0, 0, 0);
    background: rgb(125,125,125);
    background: linear-gradient(0deg, rgb(160, 160, 160) 0%, rgba(255,255,255,1) 100%);
    border-radius: 30px;
    transition: 0.5s ease;
    text-align: center;
    font-family: "Varela Round";

}

.C1 {
    flex-grow: 1;
}

.active 

